<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD6aru5EVND0X4_08rdDMzpaRj1fphGQk</string>
	<key>GCM_SENDER_ID</key>
	<string>763157132713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.parking</string>
	<key>PROJECT_ID</key>
	<string>parking-bt</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-bt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763157132713:ios:4242bff7dccb873d8ac0b8</string>
	<key>DATABASE_URL</key>
	<string>https://parking-bt-default-rtdb.firebaseio.com</string>
</dict>
</plist>